

h1 {
    font-family:Helvetica;
    font-size: 100px;
    font-weight:bold;
    color: khaki;
    background-image: src="Image/2.jpeg"

}

h2{
font-family:Helvetica;
font-size: 32px;
font-weight:bold;
color: white;
background-color: lightcoral;

}

strong{
    font-family:Helvetica;
    font-weight:bold;
    color:blue;

}

img{
    border-radius: 10px;
}